<% content_for :head do %>
	<%= javascript_include_tag :search %>
  <%= stylesheet_link_tag 'ad_thumbnails' %>
<% end %>

<div id="searchfilter">
	<%= render "search/search_filter", :categories => @categories %>
</div>

<div id="results">
	<%= render :partial => 'search/results', :locals => {:results => @results} %>
</div>
