<% content_for :head, javascript_include_tag(:search) %>

<div id="searchfilter">
	<%= render "search/search_filter", :categories => @categories %>
</div>
<div id="results">
	<%= render :partial => 'search/results', :locals => {:results => @results} %>
</div>
