<div id="searchfilter">
	<%= render "search/search_filter", :categories => @categories %>
</div>
<div id="ads">
<% @categories.each do |c| %>
  <% unless c.is_root? %>
    <%= render "categories/categoryads", :c => c %>
  <% end %>
<% end %>
</div>

