
.container {
  width: 900px;
}

header {
}

header img {
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 1%;
  height: auto;
  overflow: auto;
}

section h1 {
  font-size: 200%;
}

/* Navigation */

#gender_tab {
	list-style: none outside none;
	overflow: hidden;
	margin: 0;
}

#gender_tab li {
	float: left;
	margin: 0 3px 0 0;
	padding: 5px 60px 5px 25px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 0;
}

nav ul li a {
  padding: 0.65em 1.8em 0.65em 1.8em;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up */

a.signin_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;

}

div.login_section{
  float: right;
  position:relative;
  text-align: center;
  top: 30px;
}

/* Front page */

#category_sidebar{
	width: 16%;
    padding: 1%;
    margin: 1%;
    float: left;
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    overflow:   auto;
}

#ads{
	width: 76%;
    padding: 1%;
    margin: 1%;
    float: right;
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    overflow:   auto;	
}

#ads_for_single_category{
	width: 96%;
	height: auto;
	padding: 1%;
	margin: 1%;
	-moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    clear: both;
}

#ads_for_single_category a{
	display: block;	
}

#ads_for_single_category :hover{
  	text-decoration: underline;
}

#ad_pictures {
	width: 100px;
	height: 135px;
    padding: 1%;
    margin: 1.5% 1.2% 1% 1.2%;
    float: left;
    text-align:center;
    font-size: 90%;
    vertical-align: top;
    position: relative;
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
}

#img_rented{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	pointer-events: none;  /*mouseclick passes through overlaying div */
}

/* User profile page */

td.main {
	width: 100%;
    
}

#requests_field{
	width: 76%;
	padding: 1%;
	margin: 1%;
    float: left;	
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    overflow:   auto;	
}

#sent_requests, #received_requests{
	width: 96%;
	height: auto;
	padding: 1%;
	margin: 1%;
	-moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
}

#sent_request, #received_request{
	width: 96%;
	padding: 1%;
    margin: 1%;
	-moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
}

#sidebar {
	width: 16%;
	height: auto;
    padding: 1%;
    margin: 1%;
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    float: right;
    vertical-align: top;

}

#new_ad_button{
  text-align: center;
  margin: 10px;
  font-size: 120%;
  font-weight: bold;
  padding: 5px;
}

/* Ad info page*/

#show_picture{
	max-height: 300px;
	width: 50%;
	margin: 1%;
	float: left;
}

#show_info{
	width: 35%;
	height: auto;
	padding: 1%;
	margin: 1%;
	-moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
	float: left;
}



/* Round corners */

.round {
  -moz-border-radius:    2px;
  -webkit-border-radius: 2px;
  border-radius:         2px;
}



footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  margin-bottom: 0;
  padding: 10px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
  list-style: none;
}


/* search page */

#searchfilter .selected {
	color: red;
}
