
<% @categories.each do |c| %>
  	<div class="ads_for_single_category gender_middle_background round">
  	  	<% unless c.is_root? %>
			      <div class="Category_name">
				        <%= link_to c.name, c, :remote => true %>
					      <% c.ads.available(true).take(5).each do |ad| %>
					        	<%= render :partial => 'ads/ad_thumbnail', :locals => {:ad => ad, :hover => true} %>
					      <% end %>
			      </div>
	  		<% end %>
  	</div>
<% end %>