
    <h1>Ohjeet</h1>
    <br>
    <h3> Tervetuloa vaatteiden vuokraamisen ihmeelliseen maailmaan!</h3>
<p>
Suit Up! on ilmainen palvelu vaatteiden vuokraukseen kaikille hienoista juhlavaatteista
kiinnostuneille. Rekisteröityminen on täysin ilmaista ja todella nopeaa! Olet sitten vaatteen
tarpeessa tai kaappisi notkuvat ylimääräisiä juhlavaatteita, olet tullut oikeaan paikkaan!
</p>
<p>
Onko viikonlopulle tiedossa parhaan kaverisi syntymäpäivät tai enosi 50-vuotis juhlat, mutta
kaikki juhlavaatteesi on jo nii-in nähty! Ei hätää! Olet löytänyt juuri oikeille sivuille!
Täältä löydät huippukuntoisia juhlavaatteita monenlaisiin juhliin. Sinun tarvitsee vain rekisteröityä
palveluun, etsiä mieleinen vaate sivustolta, lähettää vuokrauspyyntö vaatteen omistajalle ja sopia
hänen kanssa vaatteen noudosta. Helppoa ja nopeaa! Eikä sinun tarvitse maksaa itseäsi kipeäksi
yksien juhlien takia. Ja mikä parasta, voit vuokrata seuraavan viikon juhliin taas uuden juhlamekon.
</p>
<strong>Joka juhlaan uudella mekolla!</strong>
<br>
<p>
Vai harmittaako sinua, kun kaappisi ovat täynnä hienoja vaatteita, joita et ehdi käyttämään. Me
tarjoamme sinulle mahdollisuuden tienata vaatteillasi!
</p>
Kaikki mitä sinun tarvitsee tehdä on:
<ol>
<li>Ota kuva vaatteestasi </li>
<li>Lataa kuva johonkin netin kuvapalveluun esim. <a href="http://photobucket.com/">Photobucket.com</a> </li>
<li>Rekisteröidy palveluun </li>
<li>Luo uusi ilmoitus </li>
</ol>
Valmis! nyt sinun tavitsee enää odotella, että joku löytää ihanan vaatteesi ja
lähettää sinulle vuokrauspyynnön.
    <br>
    <br>
    <br>
Huomioitavaa:
<ul>
<li>Emme vastaa palvelun väärinkäytöksistä, palvelussa tehdyistä huijauksista emmekä rahan tai vaatteen
menetyksistä.</li>
<li>Tarkoituksemme on ainoastaan tarjota vaatteita vuokralle antaville ja vuokralle haluaville
kohtauspaikka.</li>
<li>Kaikki vuokraustapahtumat ja sopimukset ovat täysin vuokralle antavan ja vuokralle haluavan
henkilöiden välisiä.</li>
<li>Emme taltioi tai seuraa vuokrausten sopimista, edistymistä tai päättymistä.</li>
<li>Muistathan, että palvelu on avoin kaikille eli kuka tahansa voi rekisteröityä palveluun.</li>
<li>Emme tarkista palvelun käyttäjien henkilöllisyyksiä mitenkään, joten on syytä muistaa varoa
netissä liikkuvia huijareita.</li>
<li>Varmista henkilön, jonka kanssa asioit, henkilöllisyys aina.</li>
<li>Emme suosittele lähettämään vaatteita tuntemattomille henkilöille postin välityksellä.
Turvallisempaa on suorittaa vaihto kasvotusten, jolloin voit myös pyytää henkilöä todistamaan
henkilöllisyytensä.</li>
<li>Emme suosittele myöskään lähettämään rahoja etukäteen.</li>
</ul>    

<p>Sivut on toimivat parhaiten selaimella Mozilla Firefox 11.</p>
