<% content_for :head do %>
  <%= stylesheet_link_tag 'ad_thumbnails' %>
<% end %>

<div id="ads">
	<%= render :partial => 'pages/ads_by_categories', :locals => {:categories => @categories} %>
</div>

<div id="category_sidebar">
	<h3>Kategoriat</h3>
	<%= render "categories/sidebar" %>
</div>
