
<div id="ads">
<% @categories.each do |c| %>
  <div id= "ads_for_single_category">
  	  <% unless c.is_root? %>
	      <div class="Category_name">
	        <%= link_to c.name, c, :remote => true %>
	      <% c.ads.take(5).each do |ad| %>
	        <%= render :partial => 'ads/ad_thumbnail', :locals => {:ad => ad} %>
	      <% end %>
	      </div>
	  <% end %>
  </div>
<% end %>
</div>



<div id="category_sidebar">
	<h2>Kategoriat</h2>
<%= render "categories/sidebar" %>
</div>
