
<div id="ads">
<% @categories.each do |c| %>
  <% unless c.is_root? %>
    <div class= "ads_for_single_category">
      <div class="Category_name">
        <%= link_to c.name, c, :remote => true %>
      </div>
      <% c.ads.take(5).each do |ad| %>
        <%= render :partial => 'ads/ad_thumbnail', :locals => {:ad => ad} %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>


<h2>Categories</h2>
<%= render "categories/sidebar" %>
