/* Ad info page*/

#show_picture{
	width: 58%;
	margin: 1%;
	float: left;
	position: relative;
}

.show_img{
	display:block;
}

.show_img img{
	width: 510px; 
	height: 510px; 
}

.show_img img.broken{
	width: 200px; 
	height: 200px; 
	margin-left: auto;
  margin-right: auto;
  display:block;
}

.show_img_rented{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	pointer-events: none;  /*mouseclick passes through overlaying div */
}

#show_info{
	width: 36%;
	height: auto;
	padding: 1%;
	margin: 1%;
	float: left;
}

.button{
	width: 65%;
	text-align: center;
  	margin: 2%;
  	padding: 2%;
  	font-size: 120%;
  	font-weight: bold;
  	color: white;
  	
}
