body {
  background-image:url('wp_white.gif');
}


.trans_bg {
	  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.8);
}

#gender_tab li {
	background: #141414;
	  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(248,248,248);
	/* RGBa with 0.6 opacity */
	background: rgba(248,248,248, 0.7);
	color: 	#303030;
}

#gender_tab .selected {
	  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.8);
	color: black;
}

#gender_tab :hover{
	background: rgb(255, 255, 255);
	color: black;
	text-decoration: underline;
}

/* Links */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  background: white;
  text-decoration: underline;
}

a:visited {
  color: black;
}

nav ul li a:visited {
  color: black;
}


td.sidebar {
  background: #ffc;
}