body {
  background-image:url('wp_black.gif');
  color: white;
}

h1, h2, h3 {
	color: white;
}

.trans_bg {
	background: rgba(0, 0, 0, 0.6);
}

/* Navigation */

#gender_tab li {
	background: #CCCCCC;
	background: rgba(80, 80, 80, 0.5);
	color: 	white;
}

#gender_tab .selected {
	background: rgba(0, 0, 0, 0.6);
	color: white;
}
nav li :hover, #gender_tab :hover{
	background: #000000;
	color: white;
	text-decoration: underline;
}

/*Pages*/

.gender_top_background{
    background: #222222;
	background: rgba(60, 60, 60, 0.9);
}

.gender_solid_background{ 
    background: #CCCCCC;
	background: rgba(80, 80, 80, 0.4);
}

.pagination, .gender_middle_background{
	background: black;
}

/* Buttons */

.button{
  background: #999999;
}

/* Links */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

nav ul li a:visited {
  color: white;
}

#error_explanation {
  background-color: #141414;
}

#error_explanation p {
  color: white;
}