body {
  background-image:url('wp_black.gif');
  color: white;
}

h1, h2, h3 {
	color: white;
}

.trans_bg {
	background: rgba(0, 0, 0, 0.6);
}

/* Navigation */

#gender_tab li {
	background: #CCCCCC;
	background: rgba(80, 80, 80, 0.5);
	color: 	white;
}

#gender_tab .selected {
	background: rgba(0, 0, 0, 0.6);
	color: white;
}
nav li :hover, #gender_tab :hover{
	background: #000000;
	color: white;
	text-decoration: underline;
}

/*Pages*/

.ad_pictures, .sent_request, .received_request {
    background: #222222;
	background: rgba(60, 60, 60, 0.9);
}

#ads, .requests_field, #category_sidebar, #sidebar, #show_info, #results{ 
    background: #CCCCCC;
	background: rgba(80, 80, 80, 0.4);
}

#ads_for_single_category, .sent_requests, .received_requests, .own_ads{
	background: black;
}

/* Buttons */

a.signin_button, .new_ad_button, #request_button {
  background: #529214;
}

/* Links */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

nav ul li a:visited {
  color: white;
}

#error_explanation {
  background-color: #141414;
}

#error_explanation p {
  color: white;
}