body {
  background-image:url('wp_black.gif');
  color: white;
}

h1, h2, h3 {
	color: white;
}
.trans_bg {
	  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
}

#gender_tab li {
	background: #141414;
	  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(20, 20, 20);
	/* RGBa with 0.6 opacity */
	background: rgba(20, 20, 20, 0.5);
		color: 	#C2C2C2;
}

#gender_tab .selected {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	color: white;
}
nav li :hover, #gender_tab :hover{
	background: #000000;
	color: white;
	text-decoration: underline;
}

#ad_pictures {
    background: #222222;
 	/* RGBa with 0.6 opacity */
	background: rgba(20, 20, 20, 0.5);
}

#ads{ 
    background: #999999;
    	/* RGBa with 0.6 opacity */
	background: rgba(42, 42, 42, 0.85);
}

#category_sidebar{
 	background: #999999;
    	/* RGBa with 0.6 opacity */
	background: rgba(42, 42, 42, 0.85);
}

.Category_name{
	background: black;
}

/* Links */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
}

nav ul li a:visited {
  color: white;
}

td.sidebar {
  background: #222;
}


#error_explanation {
  background-color: #141414;
}

#error_explanation p {
  color: white;
}