body {
  background-image:url('wp_white.gif');
}

.trans_bg {
	background: rgba(100,40,40, 0.6);

}

/* Navigation */

#gender_tab li {
	background: #FF9999;
	background: rgba(100,40,40, 0.3);
	color: 	#303030;
}

#gender_tab .selected {
		background: #FF9999;
	background: rgba(100,40,40, 0.6);
	color: black
}

nav li :hover, #gender_tab :hover{
	background: white;
	color: black;
	text-decoration: underline;
}

/*Pages*/

.ad_pictures, .sent_request, .received_request {
	background: rgba(100,40,40, 0.5);
}

#ads, .requests_field, #category_sidebar, #sidebar, #show_info{

	background: rgba(100,20,20, 0.3);
}

#ads_for_single_category, .sent_requests, .received_requests, .own_ads{
	background: white;
}

/* Sign up */

a.signin_button {
  background: #FBC2C4;
}

.new_ad_button{
  background: #FBC2C4;
}

.request_button{
	background: #FBC2C4;
}

/* Links */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

nav ul li a:visited {
  color: black;
}
