body {
  background-image:url('wp_white.gif');
}

.trans_bg {
	background: rgba(100,40,40, 0.6);

}

/* Navigation */

#gender_tab li {
	background: #FF9999;
	background: rgba(100,40,40, 0.3);
	color: 	#303030;
}

#gender_tab .selected {
		background: #FF9999;
	background: rgba(100,40,40, 0.6);
	color: black
}

nav li :hover, #gender_tab :hover{
	background: white;
	color: black;
	text-decoration: underline;
}

/*Pages*/

.gender_top_background{
	background: rgba(100,40,40, 0.5);
}

.gender_solid_background{ 
	background: rgba(100,20,20, 0.3);
}

.pagination, .gender_middle_background{
  background: white;
}

/* Buttons */

.button{
  background: #CCCCCC;
}

/* Links */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

nav ul li a:visited {
  color: black;
}
