#searchfilter .selected {
	font-weight: bold;
}

#results{	
	width: 95%;
	height: auto;
    padding: 1.5%;
    margin: 1%;
    float:left;
    vertical-align: top;
    overflow:   auto;
    position:relative;
}

.paginate{
	clear:both;
	position:static;
    text-align:center;
}
