/* User profile page */

#new_ad_button{
  text-align: center;
  margin: 10px;
  font-size: 120%;
  font-weight: bold;
  padding: 5px;
}


#sent_request, #received_request{
	width: 96%;
	padding: 1%;
    margin: 1%;
	-moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
}


#requests_field{
	width: 76%;
	padding: 1%;
	margin: 1%;
    float: left;	
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
    overflow:   auto;	
}
