<div class= "ads_for_single_category">
     <div class="Category_name">
        <%= link_to @category.name, @category, :remote => true %>
      </div>
</div>       

      <% @ads.each do |ad| %>
        <%= render :partial => 'ads/ad_thumbnail', :locals => {:ad => ad, :hover => true} %>
      <% end %>
      

